<div class="col-md-3 col-lg-2 d-md-block sidebar collapse p-0" style="min-height: 100vh;">
    <div class="position-sticky">
        <div class="text-center py-3">
            <img src="/images/garapin-cloud.png" alt="Garapin Cloud" class="img-fluid" style="max-height: 30px;">
        </div>
        <hr class="m-0">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link <%= currentPage === 'dashboard' ? 'active' : '' %>" href="/dashboard">
                    <i class="bi bi-house-door"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= ['my-apps', 'publish-apps', 'installed-apps'].includes(currentPage) ? 'active' : '' %>" 
                   data-bs-toggle="collapse" 
                   href="#myAppsSubmenu" 
                   role="button" 
                   aria-expanded="false" 
                   aria-controls="myAppsSubmenu">
                    <i class="bi bi-grid me-2"></i>
                    My Apps
                    <i class="bi bi-chevron-down float-end"></i>
                </a>
                <div class="collapse <%= ['publish-apps', 'installed-apps'].includes(currentPage) ? 'show' : '' %>" id="myAppsSubmenu">
                    <ul class="nav flex-column ms-3">
                        <li class="nav-item">
                            <a class="nav-link <%= currentPage === 'publish-apps' ? 'active' : '' %>" href="/my-apps/list">
                                <i class="bi bi-cloud-upload me-2"></i>
                                Published Apps
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= currentPage === 'installed-apps' ? 'active' : '' %>" href="/my-apps/installed">
                                <i class="bi bi-cloud-download me-2"></i>
                                Installed Apps
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= currentPage === 'store' ? 'active' : '' %>" href="/store">
                    <i class="bi bi-shop"></i>
                    Store
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= currentPage === 'billing' ? 'active' : '' %>" href="/billing">
                    <i class="bi bi-credit-card"></i>
                    Billing
                </a>
            </li>
        </ul>
    </div>
</div> 