<!DOCTYPE html>
<html lang="en">
<head>
    <title>Garapin Cloud - Dashboard</title>
    <%- include('partials/head') %>
</head>
<body>
    <div class="container-fluid" data-firebase-config='<%= JSON.stringify(firebaseConfig) %>'>
        <div class="row">
            <%- include('partials/sidebar', {currentPage: 'dashboard'}) %>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <%- include('partials/header', {pageTitle: 'Dashboard'}) %>

                <!-- Dashboard content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Welcome to Garapin Cloud</h5>
                                <p class="card-text">This is your dashboard. You can manage your cloud resources from here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <%- include('partials/scripts') %>
    <script src="/js/controllers/dashboardController.js"></script>
</body>
</html> 